<%= form_for(@import) do |f| %>
  <% if @import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@import.errors.count, "error") %> prohibited this import from being saved:</h2>

      <ul>
      <% @import.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <label>Title</label>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label>Upload file</label>
      <%= file_field_tag :file, class: 'form-control' %>
    </div>


  <div class="actions" style="float: left">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
