<%= form_tag product_feeds_path, :method => 'GET' do |f| %>
  <tr>
    <td>
      &nbsp;
    </td>
    <td>
      &nbsp;
    </td>
    <td>
      <%= text_field_tag :title_search, params[:title_search], class: 'form-control' %>
    </td>
    <td>
      <%= text_field_tag :description_search, params[:description_search], class: 'form-control' %>
    </td>
    <td>
      <%= text_field_tag :price_search, params[:price_search], class: 'form-control' %>
    </td>
    <td>
      <%= text_field_tag :campaign_name_search, params[:campaign_name_search], class: 'form-control' %>
    </td>
    <td>
      <%=
        submit_tag 'Find',
        class: 'btn btn-default btn-sm'
      %>
      <%=
        link_to 'Show all',
        product_feeds_path,
        class: 'btn btn-default btn-sm'
      %>
      <%= check_box_tag 'deleted', params[:deleted] %>
    </td>
  </tr>
<% end %>