<h2 style="margin-left: 20px;"><%= content_for :title, 'Listing product feeds' %></h2>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end %>
<div class="row">
  <div class="container-fluid">
    <table class="table table-hover">

    </table>
  </div>
</div>
<div class="row">
  <div class="container-fluid">
    <table class="table table-hover">
      <tr>
        <th>
          #
        </th>
        <th>
          Image
        </th>
        <th>
          <%= link_to 'Title', product_feeds_path(order: 'title') %>
        </th>
        <th>
          <%= link_to 'Description', product_feeds_path(order: 'description') %>
        </th>
        <th>
          <%= link_to 'Price', product_feeds_path(order: 'price') %>
        </th>
        <th>
          <%= link_to 'Campaign name', product_feeds_path(order: 'campaign_name') %>
        </th>
        <th>
          Actions
        </th>
      </tr>
      <%= render 'search_form' %>
      <% @product_feeds.each do |product_feed| %>
        <tr>
          <td>
            <%= product_feed.id %>
          </td>
          <td>
            <img src="<%= product_feed.image_url %>" width="50" height="auto" class="img-thumbnail">
          </td>
          <td>
            <%= product_feed.title %>
          </td>
          <td>
            <%= product_feed.description %>
          </td>
          <td>
            <%= product_feed.price %>
          </td>
          <td>
            <%= product_feed.campaign_name %>
          </td>
          <td>
            <%=
              link_to 'Show',
              product_feed_path(product_feed),
              class: 'btn btn-default btn-sm'
            %>
            <%=
              link_to 'Edit',
              edit_product_feed_path(product_feed),
              class: 'btn btn-default btn-sm'
            %>
            <%=
              link_to 'Destroy',
              product_feed_path(product_feed),
              :method => :delete,
              class: 'btn btn-danger btn-sm'
            %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="row">
  <div class="container-fluid">
    <nav aria-label="Page navigation">
      <%= will_paginate @product_feeds, renderer: BootstrapPagination::Rails %>
    </nav>
  </div>
</div>

<br>
<div class="row">
  <div class="container-fluid">
    <%= link_to 'New Product feed', new_product_feed_path, class: 'btn btn-default' %>
    <%= link_to 'Import feeds', imports_path, class: 'btn btn-default' %>
  </div>
</div>